spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/heavenofmt   # 최초 1회 실행시 파일 DB 생성됨 (heavenofmt.mv.db)
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create          # 테스트 시 매번 새로 생성
    properties:
      hibernate:
        format_sql: true
    show-sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace   # Hibernate 6용 SQL 파라미터 출력
